bucket         = "qyon-terraform-state"
key            = "enterprise-k8s-logging/prod/platform/terraform.tfstate"
region         = "eu-west-2"
dynamodb_table = "qyon-terraform-locks"
encrypt        = true
